{{#if navigation.length}}
	<ul class="menu__group">
		{{#each navigation}}
			<li class="menu__item{{#if (eq ./url @root.page.url)}} is-current-page{{/if}}" data-depth="{{or ../level 0}}">
				{{#if ./content}}
					<!-- {{#if ./items.length}}
						<button class="nav-item-toggle"></button>
					{{/if}} -->
					{{#if ./url}}
						<a class="menu__content" href="
							{{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
							{{~else}}{{{./url}}}{{~/if}}" {{#if (eq ./url @root.page.url)}} aria-current="page"{{/if}}><span class="menu__text">{{{./content}}}</span></a>
					{{else}}
						<!-- <span class="nav-text">{{{./content}}}</span> -->
						<button href="#" tabindex=0 class="menu__content menu--button">
							<span class="menu__text">{{{./content}}}</span>
						</button>
					{{/if}}
				{{/if}}
				{{> nav-tree navigation=./items level=(increment ../level)}}
			</li>
		{{/each}}
	</ul>
{{/if}}
